body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color:white;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #1a1c8f, #3d1666, #9c219c);
  }

#title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(254, 0, 119); 
}

/*QR Code starts here*/
#container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #000000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; /* Make the main container taller */
    background-color: #630d98;
    border-radius: 10px;
}
#input-label {
    margin-bottom: 5px;
}
#input-text {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
}
#generate-btn {
    padding: 10px 20px;
    background-color: rgb(254, 0, 119);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
#download-btn, #create-another-btn {
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(254, 0, 119);
    color: white;
    border: none;
    cursor: pointer;
    display: none;
    border-radius: 10px;
}

#generate-btn:hover, #download-btn:hover, #create-another-btn:hover {
    background-color: red; /* Warna merah ketika diarahkan cursor */
}

#more-actions {
    margin-top: 20px;
    font-weight: bold;
    display: none;
}
#output-container {
    margin-top: 20px;
    width: 100%; /* Set initial width to match input box */
    max-width: 100%; /* Set maximum width to match input box */
    height: 320px; /* Set the desired height */
    background-color: #fff;
}
#qrcode-box {
    border: 2px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Take full height of the container */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    width: 100%; /* Set width to 100% */
}
#qrcode {
    width: 100%; /* Set width to 100% */
    height: 100%; /* Set height to 100% */
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#000000;
}
#success-message {
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px; /* Add margin-bottom for space */
    display: none;
    color: #000000;
}
#share-text {
    margin-top: 20px; /* Move space before this text */
    margin-bottom: 0; /* Remove margin-bottom */
}
/*QR Code Box Ends Here*/

header {
display: flex;
flex-direction: column; /* Mengubah orientasi flex menjadi column */
align-items: flex-start; /* Mengatur posisi elemen ke kiri */
background-color: black;
padding: 15px;
}

.logo-container {
background-color: #201140;
padding: 15px;
}

h1 {
color: rgb(254, 0, 119);
font-size: 36px;
font-weight: bold;
margin: 0;
}

nav {
background-color: #2c1e4a; 
border-radius: 0 0 5px 5px; /* Efek sudut melengkung hanya pada bagian bawah navbar */
width: 100%; /* Lebar penuh untuk navbar */
}

nav ul {
list-style-type: none;
margin: 0;
padding: 10px; /* Padding untuk memberikan jarak di sekitar teks navbar */
display: flex;
justify-content: flex-start; /* Mengatur posisi navbar ke kiri */
}

nav li {
margin-right: 20px;
}

a {
  color: rgb(254, 0, 119);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

a:hover, a:active {
  color: red;
}

a:visited {
    color: rgb(245, 142, 212);
}

footer {
    background-color: #201140; 
    padding: 20px;
    text-align: center;
}

footer a {
    color: rgb(254, 0, 119);
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold; /* Tebal */
    transition: color 0.3s; /* Transisi warna untuk efek halus */
}

footer a:hover {
    color: #ff0000; /* Warna merah saat diarahkan */
}

.copyright {
    color: rgb(254, 0, 119);
    margin-top: 10px; /* Spasi atas */
    border-top: 1px solid rgb(254, 0, 119); /* Garis pemisah dengan warna hijau */
    padding-top: 10px; /* Spasi atas pada teks copyright */
    font-weight: bold; /* Tebal */
    transition: color 0.3s; /* Transisi warna untuk efek halus */
}

.copyright-text:hover {
    color: #ff0000; /* Warna merah saat diarahkan */
}

/* Media queries untuk perangkat mobile */
@media screen and (max-width: 600px) {
  .randomnumgenerator {
    width: 90%;
    padding: 10px;
  }
}
